<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.powerfulmealplanner"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19"/>

    <application
        android:name="com.example.powerfulmealplanner.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.powerfulmealplanner.ShoppingListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.powerfulmealplanner.AddShoppingItemActivity"
            android:label="@string/title_activity_add_shopping_item">
        </activity>
        <activity
            android:name="com.example.powerfulmealplanner.RecipeListActivity"
            android:label="@string/title_activity_recipe_list">
        </activity>
        <activity
            android:name="com.example.powerfulmealplanner.AddRecipeItemActivity"
            android:label="@string/title_activity_add_recipe_item">
        </activity>
        <activity
            android:name="com.example.powerfulmealplanner.CalendarActivity"
            android:label="@string/title_activity_calendar">
        </activity>
        <activity
            android:name="com.example.powerfulmealplanner.HelpActivity"
            android:label="@string/title_activity_help">
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

    </application>

</manifest>
